
*{
   margin: 0; /*disatncia entre los enlemtos*/
   padding: 0;/*distancia interna*/
}
body{
    font-family: 'Roboto', sans-serif;
}

.contenedor {
    width: 90%;
    max-width: 1500px;
    margin: auto;
}

nav {
    width: 100%;
    height: 80px;
    background-color: rgb(138, 166, 191);
    border-bottom: 1px solid transparent;
    box-shadow: 1px 1px 10 px 0 rgb(18, 6, 6);
    position: fixed;
    top: 0;
    z-index: 100;
}

.nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    align-items: center;
    padding: 0 40px;
}

.nav .logo {
    height: 80px;

}
.nav .logo img {
    height: 100%;
}

.nav .enlases_header a {
    color: rgb(22, 33, 30);
    text-decoration: none;
    margin-left: 20px;
}

.contenido_header{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.conteido_header >img {
    height: 100px;
    width: 100px;
}